{% extends "base.html" %}
{% block header %}

<nav class="navbar navbar-expand-md sticky-top navbar-light" style="background-color:rgb(212, 212, 212);">
    <a class="navbar-brand pl-3" href="{{ url_for('index') }}">About Me</a>

    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pl-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Projects</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {# <a class="dropdown-item" href="{{ url_for('projects') }}">Projects Home</a> 
                <div class="dropdown-divider"></div>#}
                <a class="dropdown-item" href="{{ url_for('data_science') }}">League of Legends Data Analysis</a>
                <a class="dropdown-item" href="{{ url_for('professor') }}">Professor Rating Website</a>
                <a class="dropdown-item" href="{{ url_for('initium') }}">Initum Web Game</a>
                <a class="dropdown-item" href="{{ url_for('minecraft') }}">Minecraft Plugin</a>
                <a class="dropdown-item disabled" href="{{ url_for('settlement') }}">In Progress!</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <a class="nav-link pr-3" href="{{ url_for('contact') }}">Contact Me</a>
        <span class="navbar-text">
            {# empty for now #}
        </span>
    </ul>

    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>
{% endblock %}