{% extends "header.html" %}

{% block content %}
<div class="row pt-sm-4">
    <div class="col-1"></div>
    <div class="col-9">
        <h3>Who am I?</h3>
        <div class="clearfix">
            
            <p>
                My name is Wesley Chen, and I am currently a third year computer science student
                at the University of Maryland, College Park. Thanks for taking the time to drop by my
                site. Be sure to check out the projects tabs to see what stuff I've been up to lately.
                If you're here as part of job related evaluation, I hope I can make a decent showing of myself!
            </p>
            <img src="..." class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

        </div>
    </div>
</div>

{% endblock %}