{% extends "header.html" %}

{% block content %}

<div class="row pt-5">
    <div class="col-1"></div>
    <div class="col">
        <h3>
            Professor Rating Website
        </h3>
        <img src="{{ url_for('static', filename='Professor.PNG')  }}" width="1000" height="auto"/>
    </div>
</div>
<div class="row pt-3">
    <div class="col-1"></div>
    <div class="col">
        <p>This project is a rudimentary professor rating website. Students could register accounts,
            then use those accounts to post reviews about professors. If a professor is not already in
            the system, students could submit requests to add new professors. The site uses a MongoDB
            database, and is currently hosted on heroku. Though the site can still be visited, it may
            take a few minutes for the heroku dyno to spinup.
        </p>
    </div>
</div>
<div class="row pt-3">
    <div class="col-1"></div>
    <div class="col">
        <h4>
            <a href="https://professor-rating-project.herokuapp.com/">Link to Site,</a>
            <a href="https://github.com/abcdl44/professor-rating-website/">Repository</a>
        </h4>
    </div>
</div>
    

{% endblock %}